


.hourly-card {
    background-color: rgb(249, 249, 249);
    width: 120px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.297);
}

.hourly-card img {
    width: 60px;
    padding: 0.8rem 0;
}


.hourly-card p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
}