.main-card-carousel-container {
    padding: 1rem;
    width: 99%;
    justify-content: center;

}

.embla {
    overflow: hidden;
    width: 100%;
    position: relative;
    align-content: center;
    right: 0.90rem;
    margin-top: 10px;
}

.embla__container {
    display: flex;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}

.embla__slide {
    position: relative;
    flex: 0 0 auto;
    width: 120px;
    margin-right: 1rem;
    display: flex;
    justify-content: center;

}

h3{
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}
