


.main-card-details {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

tbody tr td:first-child {
    text-align: center;
    width: 1%;
}

tbody tr td:nth-child(2) {
    text-align: left;
}

tbody tr td:nth-child(3) {
    text-align: right;
    padding-right: 1rem;
}

.detail-icon {
    width: 3rem;
    height: 3rem;
}

#umbrella-icon {
    width: 2.3rem;
}

#wind-icon {
    width: 2.4rem;
}


#uv-index-icon {
    width: 2.3rem;
}

@media screen and (max-width: 660px) {
    .main-card-details {
        width: 90%;
    }
}