.medium-card {
    width: 350px;
    height: 190px;
    background-color: rgb(249, 249, 249);
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.297);
}

.medium-card-container {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    width: 300px;
    justify-content: center;
    position: relative;
    bottom: 5px;
}


.medium-card-container * {
    margin: 0;
}

.medium-card-left-column{
    text-align: left;
    padding-right: 1rem;
}

.medium-card-temp {
    font-size: 2.8rem;
    font-weight: 700;
}

.medium-card-left-column img {
    width: 1.8rem;
}

.medium-card-weather-icon {
    width: 6rem;
}

.medium-card-maxmin, .rain-and-wind {
    display: flex;
    flex-direction: row;
}

.medium-card-maxmin div:first-child, .rain-and-wind div:first-child {
    width: 6rem;
    height: 1.9rem;
}

.medium-card-maxmin *, .rain-and-wind * {
    display: flex;
    flex-direction: row;
}

.medium-card-right-column {
    display: flex;
    align-items: center;
    justify-content: center;
}

.medium-card-weather-icon {
    height: 8rem;
}

.max-min{
    width: 30px;
    height: 30px;
}