.header-content h1 {
    margin: 0;
}

.header-bg {
    background-color: #3B324C;
    height: 5.2rem;
    
}

.header-content {
    display: flex;
    flex-direction: row;
    margin: 0 10%;
    color:ghostwhite;
    padding-top: 2rem;
    justify-content: center;
    padding-right: 30%;


}


.header-content > a {
    color:ghostwhite;
}



