.header-content h1 {
    margin: 0;
}

.header-bg {
    background-color: rgb(59, 16, 99);

    height: 7rem;
    

}

.header-content {
    display: flex;
    flex-direction: row;
    margin: 0 10%;
    color:ghostwhite;
    padding-top: 1.5rem;



}


.header-content > a {
    color:ghostwhite;
}



